<div class="nightlife">

    <div class="nightlife__flex-item-1">
        <div class="nightlife__back-img-1-wrapper">
            <div class="picture-wrapper nightlife__back-img-1">
                <include src="./components/picture-injection/picture-injection.html"
                    locals='{"imgPathNoSfx": "./images/marcela-laskoski/marcela-laskoski"}'>
                </include>
            </div>
            <div class="nightlife__gradient"></div>
        </div>

        <div class="info-card nightlife__card">
            <div class="info-card__title">
                QR code
            </div>
            <div class="info-card__description">
                No more conflict situations due to
                wrong
                order. The guest selects the
                positions,
                and after that an
                individual QR code
                of his order
                is generated
            </div>
        </div>
        <div class="nightlife__download">
            <include src="./components/download/download.html"></include>
        </div>

    </div>

    <div class="nightlife__flex-item-2">
        <div class="nightlife__back-img-2-wrapper">
            <div class="picture-wrapper-no-fit nightlife__back-img-2">
                <include src="./components/picture-injection/picture-injection.html"
                    locals='{"imgPathNoSfx": "./images/ash-edmonds/ash-edmonds"}'>
                </include>
            </div>

            <div class="picture-wrapper nightlife__nightlife-wrapper">
                <picture>
                    <source srcset="./images/Nightlife.svg" type="image/svg+xml">
                    <img src="./images/Nightlife.svg" alt="">
                </picture>
            </div>
        </div>

        <div class="nightlife__iphones-container">
            <div class="picture-wrapper nightlife__iphone-1-wrapper">
                <include src="./components/picture-injection/picture-injection.html"
                    locals='{"imgPathNoSfx": "./images/iphone_5/iphone_5"}'>
                </include>
            </div>

            <div class="picture-wrapper nightlife__iphone-2-wrapper">
                <include src="./components/picture-injection/picture-injection.html"
                    locals='{"imgPathNoSfx": "./images/iphone_6/iphone_6"}'>
                </include>
            </div>
        </div>


    </div>

</div>
