<div class="send">

    <div class="send__card-container">
        <div class="info-card">
            <div class="info-card__title">
                Get In Touch
            </div>
            <div class="info-card__description">
                Have questions about Noble or just want to say hello? <div class="text-wbr-desktop"></div>
                Drop us a line and a member of our team will getback to you shortly.
            </div>
        </div>
    </div>

    <div class="picture-wrapper send__gradient-top">
        <picture>
            <source srcset="./images/gradients/rectangle.svg" type="image/svg+xml">
            <img src="./images/gradients/rectangle.svg" alt="">
        </picture>
    </div>

    <div class="picture-wrapper send__gradient-right">
        <picture>
            <source srcset="./images/gradients/rectangle.svg" type="image/svg+xml">
            <img src="./images/gradients/rectangle.svg" alt="">
        </picture>
    </div>

    <form class="send__form" method="post">
        <!-- <label for="POST-name">Name:</label> -->
        <input class="send__input" type="text" id="name" placeholder="Name">
        <input class="send__input" type="text" id="venue-name" placeholder="Venue-name">
        <div class="send__input-inline-desktop">
            <input class="send__input" type="text" id="venue-city" placeholder="Venue-city">
            <input class="send__input" type="text" id="state-city" placeholder="State City">
        </div>
        <input class="send__input" type="email" id="email" placeholder="Email">
        <input class="send__input" type="text" id="subject" placeholder="Subject">
        <textarea rows="5" class="send__input send__input--msg" id="message" placeholder="Message"></textarea>
        <div class="send__form-submit-container">
            <button class="send__form-submit" type="submit">Send</button>
        </div>
    </form>

</div>
