<div class="scanner ">

    <div class="picture-wrapper scanner__back-image">
        <include src="./components/picture-injection/picture-injection.html"
            locals='{"imgPathNoSfx": "./images/louis/louis-hansel-shotsoflouis"}'>
        </include>
        <div class="scanner__gradient"></div>
    </div>


    <div class="scanner__content">

        <div class="scanner__card-container">
            <div class="info-card scanner__card">
                <div class="info-card__title">
                    ID Scanner
                </div>
                <div class="info-card__description scanner__description">
                    Scan, verify, and collect data on each
                    person that walks through your door
                    to humanize your data. You also get
                    a digital 86 list as well as a citywide
                    ban list to keep your venue safe.
                </div>
            </div>
        </div>

        <div class="scanner__phones-container">
            <div class="picture-wrapper scanner__phone">
                <include src="./components/picture-injection/picture-injection.html"
                    locals='{"imgPathNoSfx": "./images/iphone_3/iphone_3"}'>
                </include>
            </div>

            <div class="picture-wrapper scanner__phone">
                <include src="./components/picture-injection/picture-injection.html"
                    locals='{"imgPathNoSfx": "./images/iphone_4/iphone_4"}'>
                </include>
            </div>
        </div>

    </div>

</div>
