<div class="notab">

    <div class="notab__back-container">
        <include src="./components/picture-injection/picture-injection-desktop.html"
            locals='{"imgPathNoSfx": "./images/notab-back/notab-back"}'>
        </include>
    </div>

    <div class="notab__gradient"></div>

    <div class="notab__iphone-container">
        <include src="./components/picture-injection/picture-injection-desktop.html"
            locals='{"imgPathNoSfx": "./images/iphone_8/iphone_8"}'>
        </include>
    </div>
</div>
