<main class="main">


    <div class="main__platform-info">
        <include src="./components/platform-info/platform-info.html"></include>
    </div>


    <div class="main__download-1">
        <div class="download-1">
            <div class="download-title download-1__title">
                DOWNLOAD OUR APP
            </div>
            <div class="download-1__actions-container">
                <include src="./components/download/download.html"></include>
            </div>
        </div>
    </div>


    <div class="main__cards">
        <div class="main__cards-list">

            <include src="./components/action-card/action-card.html" locals='{
                    "title": "Would like to become a member, please contact us",
                    "link": "support@notab.com"
                }'>
            </include>

            <include src="./components/action-card/action-card.html" locals='{
                    "title": "Already a partner?",
                    "link": "Login"
                }'>
            </include>

        </div>
    </div>


    <div class="main__mission">
        <include src="./components/mission/mission.html"></include>
    </div>


    <div class="main__scanner">
        <include src="./components/scanner/scanner.html"></include>
    </div>


    <div class="main__tools">
        <include src="./components/tools/tools.html"></include>
    </div>


    <div class="main__nightlife">
        <include src="./components/nightlife/nightlife.html"></include>
    </div>


    <div class="main__generate-qr">
        <include src="./components/generate-qr/generate-qr.html"></include>
    </div>


    <div class="main__ordering">
        <include src="./components/ordering/ordering.html"></include>
    </div>


    <div class="main__notab">
        <include src="./components/notab/notab.html"></include>
    </div>


    <div class="main__get-in-touch">
        <include src="./components/get-in-touch/get-in-touch.html"></include>
    </div>


    <div class="main__download-2">
        <div class="download-2">
            <div class="download-title download-2__title">
                DOWNLOAD OUR APP
            </div>
            <div class="download-2__actions-container">
                <include src="./components/download/download.html"></include>
            </div>
        </div>
    </div>
</main>
