<div class="platform-info">
    <div class="platform-info__content">

        <div class="platform-info__item-1">

            <div class="platform-info__card-container">
                <div class="platform-card">

                    <div class="platform-card__title">
                        A platform <br>
                        that works smarter
                    </div>

                    <div class="platform-card__subtitle">
                        <div class="picture-wrapper line-decor">
                            <picture class="line-decor__line">
                                <source srcset="./images/line_decore.svg" type="image/svg+xml">
                                <img src="./images/line_decore.svg" alt="">
                            </picture>
                            <div class="picture-wrapper line-decor__gradient">
                                <picture>
                                    <source srcset="./images/gradients/circle.svg"
                                        type="image/svg+xml">
                                    <img src="./images/gradients/circle.svg" alt="">
                                </picture>
                            </div>
                        </div>

                        <div class="platform-card__subtitle-text">
                            NoTab allows bars & nightclubs
                            <div class="text-wbr-desktop"></div>
                            <div class="text-wbr-mobile"></div>
                            to manage, understand, and
                            <div class="text-wbr-mobile"></div>
                            grow
                            <div class="text-wbr-desktop"></div>
                            their business from
                            <div class="text-wbr-mobile"></div>
                            a single dashboard
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="platform-info__item-2">

            <div class="main-phone">

                <div class="picture-wrapper platform-info__content-gradient">
                    <picture>
                        <source srcset="./images/gradients/platform-info-gradient.svg" type="image/svg+xml"
                            media="(min-width:767px)">
                        <source srcset="./images/gradients/platform-info-gradient--mobile.svg" type="image/svg+xml"
                            media="(max-width:767px)">
                        <img src="./images/gradients/platform-info-gradient.svg" alt="">
                    </picture>
                </div>


                <div class="picture-wrapper-no-fit main-phone__picture-wrapper">

                    <div class="backlight-container">
                        <div class="backlight"></div>
                    </div>

                    <include src="./components/picture-injection/picture-injection.html"
                        locals='{"imgPathNoSfx": "./images/iphone_1/iphone_1"}'>
                    </include>
                </div>
            </div>

        </div>
    </div>
</div>
