<footer class="footer">

    <div class="footer__gradient">
        <picture>
            <source srcset="./images/gradients/rectangle.svg" type="image/svg+xml">
            <img src="./images/gradients/rectangle.svg" alt="">
        </picture>
    </div>

    <div class="footer__content">

        <div class="contacts">
            <div class="picture-wrapper contacts__logo">
                <picture>
                    <source srcset="./images/title_caps.svg" type="image/svg+xml">
                    <img src="./images/title_caps.svg" alt="">
                </picture>
            </div>

            <div class="contacts__email">
                Contact us: <div class="text-wbr-desktop"></div>
                support@notab.com
            </div>

            <div class="contacts__copyright">© 2020 - NoTab®</div>
        </div>

        <div class="agreements">
            <div class="agreements__content">
                <div class="agreements__terms">
                    Terms to use
                </div>
                <div class="agreements__policy">
                    Privacy policy
                </div>
            </div>
        </div>

    </div>
</footer>
