<div class="ordering">

    <div class="ordering__card-container">
        <div class="info-card">
            <div class="info-card__title">
                Easier ordering.
                <div class="text-wbr-desktop"></div>
                <div class="text-wbr-mobile"></div>
                Happier guests.
            </div>
            <div class="info-card__description">
                NoTab makes it simple for patrons to easily
            </div>
        </div>
    </div>

    <div class="ordering__img-container">

        <div class="picture-wrapper ordering__gradient">
            <picture>
                <source srcset="./images/gradients/rectangle.svg" type="image/svg+xml">
                <img src="./images/gradients/rectangle.svg" alt="">
            </picture>
        </div>

        <div class="ordering-img-group">

            <div class="ordering-img-group__phone">
                <include src="./components/picture-injection/picture-injection.html"
                    locals='{"imgPathNoSfx": "./images/ordering/ordering"}'>
                </include>
            </div>


            <div class="tip-border ordering-img-group__tip1">
                No more lost or <br>
                forgotten credit cards
            </div>
            <div class="tip-border ordering-img-group__tip2">
                No more lost or <br>
                forgotten credit cards
            </div>
            <div class="tip-border ordering-img-group__tip3">
                No more split <br>
                your tab
            </div>
            <div class="tip-border ordering-img-group__tip4">
                Skip the line
            </div>
        </div>
    </div>
</div>
