
.mission {
    @include at-breakpoint($screen-small) {
        @include add-padding-x();
    }
}
.mission-iphone {
    @include at-breakpoint($screen-not-small) {
        will-change: transform;

        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        transform: rotate(90deg);
        width: 34.58%; // 498/1440
    }
    @include at-breakpoint($screen-small) {
        position: relative;
        z-index: 20;
        width: 49.72%; // 172.53/347
        margin: 0 auto;
    }

    .iphone-color-gradient-container {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    & .picture-injection {
        @include at-breakpoint($screen-small) {
            position: relative;
            z-index: 20;
        }
    }
}

.mission-card {
    @include at-breakpoint($screen-not-small) {
        will-change: transform;

        position: absolute;
        top: 0;
        margin-top: 16.39%; // 236/1440
        left: 63.75%; // 918/1440
        opacity: 1;
    }
    @include at-breakpoint($screen-small) {
        position: relative;
        margin-bottom: 46.97%; // 163/347
    }
    &__gradient {
        position: absolute;
        z-index: 0;
        @include at-breakpoint($screen-not-small) {
            top: 0;
            left: 197px;
            width: 26.56%;
            opacity: 0.9;
            filter: blur(50px);
        }

        @include at-breakpoint($screen-s-m) {
            margin-top: -8.07%; // 28/347
            left: -6.9%; // 24/347
            width: 24.5%; // 85/347
            opacity: 0.5;
            filter: blur(50px);
        }

        @include at-breakpoint($screen-s) {
            margin-top: -8.07%; // 28/347
            left: -6.9%; // 24/347
            width: 24.5%; // 85/347
            filter: blur(50px);
        }
    }
    &__text {
        position: relative;
        z-index: 10;
        @include at-breakpoint($screen-not-small) {
            padding-right: 20%;
        }
    }
    &__description {
        @include at-breakpoint($screen-small) {
            width: 83%;
        }
        @include at-breakpoint($screen-not-small) {
            padding-right: 20%;
        }
    }
}

.mission-iphone.mission-iphone--animated {
    @include at-breakpoint($screen-not-small) {
        // уменьшил айфон до 75% от исходного размера
        // отменил поворот и перенес в центр контейнера
        // { 12.5% = (100% - 75%) / 2 } тоже самое, что { left: 0 }
        transform: translate(-12.5%, 0) scale(0.75, 0.75) rotate(0) translateX(half-width());

        will-change: auto;

        // & .backlight-container {
        //     display: none;
        // }
        // & .iphone-color-gradient-container {
        //     visibility: visible;
        //     opacity: 0.2;
        // }
    }
}

.mission-card.mission-card--animated {
    @include at-breakpoint($screen-not-small) {
        // transform: translate(half-width());
        // opacity: 0;

        // will-change: auto;

        display: none;
    }
}
