<div class="mission">
    <div class="mission-card">

        <div class="picture-wrapper mission-card__gradient">
            <picture>
                <source srcset="./images/gradients/mission-gradient.svg" type="image/svg+xml">
                <img src="./images/gradients/mission-gradient.svg" alt="">
            </picture>
        </div>

        <div class="info-card mission-card__text">
            <div class="info-card__title">
                Our mission
                and vision
            </div>
            <div class="info-card__description mission-card__description">

                While technology is our sweet spot,
                we’ve developed our vision alongside
                our customers to ensure your
                everyday problems are solved
                through simplistic tools. And as your
                business grows, we’ll grow right
                alongside with you.

            </div>
        </div>
    </div>
    <div class="picture-wrapper mission-iphone">

        <div class="backlight-container">
            <div class="backlight"></div>
        </div>

        <div class="picture-wrapper iphone-color-gradient-container">
            <picture>
                <source srcset="./images/gradients/mission-gradient--animated.svg" type="image/svg+xml">
                <img src="./images/gradients/mission-gradient--animated.svg" alt="">
            </picture>
        </div>

        <include src="./components/picture-injection/picture-injection.html"
            locals='{"imgPathNoSfx": "./images/iphone_2/iphone_2"}'>
        </include>

    </div>
</div>
