<div class="tools">

    <div class="info-card tools__card">
        <div class="info-card__title tools__card-title">
            BI Tool Integration
        </div>
        <div class="info-card__description tools__card-description">
            We use Business Intelligence Tool that allows
            you to be updated what is happening in your
            business just by one click. Track revenue
            and profit by one click.
        </div>
    </div>

    <div class="picture-wrapper tools__gradient">
        <picture>
            <source srcset="./images/gradients/rectangle.svg" type="image/svg+xml">
            <img src="./images/gradients/rectangle.svg" alt="">
        </picture>
    </div>

    <div class="tools__container">
        <div class="tools__container-ratio">

            <div class="tools__group">
                <div class="picture-wrapper tools__item-1">
                    <picture>
                        <source srcset="./images/statistics/statistics_1.svg" type="image/svg+xml">
                        <img src="./images/statistics/statistics_1.svg" alt="">
                    </picture>
                </div>
                <div class="picture-wrapper tools__item-2">
                    <picture>
                        <source srcset="./images/statistics/statistics_2.svg" type="image/svg+xml">
                        <img src="./images/statistics/statistics_2.svg" alt="">
                    </picture>
                </div>
                <div class="picture-wrapper tools__item-3">
                    <picture>
                        <source srcset="./images/statistics/statistics_3.svg" type="image/svg+xml">
                        <img src="./images/statistics/statistics_3.svg" alt="">
                    </picture>
                </div>
                <div class="picture-wrapper tools__item-4">
                    <picture>
                        <source srcset="./images/statistics/statistics_4.svg" type="image/svg+xml">
                        <img src="./images/statistics/statistics_4.svg" alt="">
                    </picture>
                </div>
                <div class="picture-wrapper tools__item-6">
                    <picture>
                        <source srcset="./images/statistics/statistics_6.svg" type="image/svg+xml">
                        <img src="./images/statistics/statistics_6.svg" alt="">
                    </picture>
                </div>
                <div class="picture-wrapper tools__item-5">
                    <picture>
                        <source srcset="./images/statistics/statistics_5.svg" type="image/svg+xml">
                        <img src="./images/statistics/statistics_5.svg" alt="">
                    </picture>
                </div>
                <div class="picture-wrapper tools__item-7">
                    <picture>
                        <source srcset="./images/statistics/statistics_7.svg" type="image/svg+xml">
                        <img src="./images/statistics/statistics_7.svg" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>
